# macOS
.DS_Store

# Xcode
*.xccheckout
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/

# Cocoapods
Pods
Podfile.lock

# Carthage
Carthage/Build

# Swift Package Manager
.build

# Visual Studio Code
.vscode/
